@import "tailwindcss";

@font-face {
    font-family: 'IranSans';
    src: url('/font/iransans.ttf');
}

* {
    box-sizing: border-box;
    font-family: 'IranSans';
}

button,a{
    cursor: pointer;
}